{{- if not .Values.isolatedDB }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backup-storage
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "n8n-instance.labels" . | nindent 4 }}
    component: backup
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
{{- end }}
