apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: n8n-data
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "n8n-instance.labels" . | nindent 4 }}
    component: main
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
