apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: n8n-system
  labels:
    {{- include "n8n-infrastructure.labels" . | nindent 4 }}
    app: postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: postgres
