apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: n8n-system
  labels:
    {{- include "n8n-infrastructure.labels" . | nindent 4 }}
    app: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: redis
  selector:
    app: redis
