fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic==2.5.3
requests>=2.31.0
python-multipart>=0.0.6
kubernetes_asyncio>=29.0.0
pyyaml>=6.0.1

# gRPC dependencies
grpclib>=0.4.7
protobuf>=4.25.0
grpcio-tools>=1.60.0
